section.sidebar .shiny-bound-input.action-button, section.sidebar .shiny-bound-input.action-link {
    margin: 6px 15px 6px 15px;
}

.shiny-output-error-validation {font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight: 400;font-size:120%;}
.cont_butt1{width: 6em; float:right;  margin-bottom:1em; margin-top:1em; background-color: #00abe8;color:white; font-weight: bold}


.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
    background-color: #fff;
}
.btn-circle.btn-lg {
    box-shadow: 0px 0px 0px #fff;}
.small-box.bg-aqua {background-color: #00abe8 !important; color: #fff !important; height: 65px;}
.small-box p {font-size: 12px;}
.small-box h3 {font-size: 15px;font-weight:bold;}

.btn-danger {
    color: #00abe8;
    background-color: #fff;
    border-color: #00abe8;
}
.btn-danger.active, .btn-danger:active, .open > .dropdown-toggle.btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active.focus, .btn-danger.active:focus, .btn-danger.active:hover, .btn-danger.focus:active, .btn-danger:active:focus, .btn-danger:active:hover, .open > .dropdown-toggle.btn-danger.focus, .open > .dropdown-toggle.btn-danger:focus, .open > .dropdown-toggle.btn-danger:hover {
    color: #fff;
    background-color: #003e6e;
    border-color: #00abe8;
}
.dropdown-menu > li > a {
    color: #00abe8;
}
.recalculating {opacity: 1.0;}
.a {color: #00abe8;}
.irs-bar {border: 1px solid #00abe8;background: #00abe8;}
.irs-from, .irs-to, .irs-single {background: #00abe8;}
.irs-grid-pol {background: #00abe8;}
.irs-bar-edge {border: 1px solid #00abe8;background: #00abe8;}
.form-control:focus {border-color:#00abe8;}
/* logo */
.skin-blue .main-header .logo {background-color: #00abe8;}
.skin-blue .main-header .logo:hover {background-color: #00abe8;}
.skin-blue .main-header .navbar { background-color: #00abe8;}
.skin-blue .main-sidebar {background-color: #4b4b4c;}
.skin-blue .main-sidebar .sidebar .sidebar-menu .active a{background-color: #bcbdbf;}
.skin-blue .main-sidebar .sidebar .sidebar-menu a{background-color: #bcbdbf;color: #000000;}
.skin-blue .main-sidebar .sidebar .sidebar-menu a:hover{background-color: #00abe8;}
.skin-blue .main-header .navbar .sidebar-toggle:hover{background-color: #00abe8;}
.nav-tabs-custom>.nav-tabs>li.active {border-top-color:#00abe8;}
.box.box-solid.box-primary>.box-header {background: #00abe8;}
.box.box-solid.box-primary {border: 1px solid #00abe8;}
.selectize-input.focus {border-color: #00abe8;box-shadow: 0 1px 1px rgba(0,0,0,.75), 0 0 8px rgba(0, 171, 232,0.6)}
.progress-bar {background: #00abe8;}
.leftAlign  {float:left;}
.rightAlign {float:right;}
.wizardText {color:white; margin-left:1em; margin-right:1em; text-align:center;font-style: italic;}
.solidline  {border-top: 1px solid #00abe8;}
.tooltip-inner{color: #fff;background: #00abe8;}
.tooltip.right .tooltip-arrow{border-right:5px solid #00abe8}
.box {border-top: 3px solid #00abe8}
.cont_butt{width: 6em; float:left;  margin-bottom:1em; margin-top:1em; background-color: #00abe8;color:white; font-weight: bold}
.back_butt{width: 6em;; float:left; margin-bottom:1em; margin-top:1em; background-color: #222d32;  color:white; font-weight: bold}
.filter_butt{width: 90%; margin-right:auto!important; margin-left:auto!important; margin-bottom:0.1em!important; margin-top:0.1em!important; background-color: #222d32;color:white; font-weight: bold}
.downl_butt{margin-bottom:1em; margin-top:1em;}
.downl_butt1{width: 65%;margin-right:auto!important; margin-left:auto!important; margin-bottom:1em; margin-top:1em;background-color: #222d32;color:#FF0000; font-weight: bold; border-color: #FF0000}
.export_butt{width: 90%; margin-right:auto!important; margin-left:auto!important; margin-bottom:0.1em; margin-top:0.1em; background-color: #222d32;color:#00abe8; font-weight: bold; border-color: #00abe8}
.reset_butt{width: 90%; margin-right:auto!important; margin-left:auto!important; margin-bottom:1em; margin-top:1em; background-color: #222d32;color:#FF0000; font-weight: bold; border-color: #FF0000}
.pubchem_butt{width: 14em; 24px; margin-right:1em; margin-left:1em; margin-bottom:1em; margin-top:1em;}
.links_font{float:right}
.box.plot1{width: 400px; height:400px}
.content-wrapper, .right-side {background-color: #fff;}
.infosign{position: relative; top:-50px}
.plotbox{box-sizing: border-box; width: 10em, height:10em}
.left {float: left;}
.right {float: right;}
.box {border-top: 0px solid #fff; box-shadow: 0 0px 0px rgba(0,0,0,.1)}
.main-header .logo {font-family: Arial, Helvetica, sans-serif; font-weight: bold;}
.body {font-family: Arial, Helvetica, sans-serif}
.form-control {border-top-right-radius: 3px;border-bottom-right-radius: 3px;}
.navbar-nav > li > a {padding-top: 5px;padding-bottom: 5px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {color: #003e6e;}
.nav > li > a:hover {color: #003e6e;}
.form-control {border-top-right-radius: 3px;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;border-top-left-radius: 3px;}
.nav > li > a:hover {color: #00abe8;}
.nav-stacked > li.active > a, .nav-stacked > li.active > a:hover {
    background: 0 0;
    color: #444;
    border-top: 0;
    border-left-color: #00abe8;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
    color: #00abe8;
    background-color: #fff;